<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <script src="http://code.angularjs.org/angular-1.0.1.min.js"></script>
</head>
<body>

<div ng-app="myApp" >
    <div ng-controller="myFirstCtrl">
        <input type="text" ng-model="data.message">
        <h2>{{data.message}}</h2>
    </div>
    <div ng-controller="mySecondCtrl">
        <input type="text" ng-model="data.message">
        <h1>{{data.message|reverse}}</h1>
    </div>

</div>
<script>

    var app = angular.module('myApp',[]);

    app.factory('Data',function () {

        return {message:"data from a service"}
    })

    //过滤器（filter)，作用就是接收一个输入，通过某个规则进行处理，然后返回处理后的结果。主要用在数据的格式化上，例如获取一个数组中的子集，对数组中的元素进行排序等。ng 内置了一些过滤器，它们是：currency(货币)、date(日期)、filter(子串匹配)、json(格式化 json 对象)、limitTo(限制个数)、lowercase(小写)、uppercase(大写)、number(数字)、orderBy(排序),总共九种。下面例子是一个自定义的 filter。
    //定义了一个名为"reverse"的 filter，它的功能是把字符反转然后再加上从 service 中得到的字符串。
    app.filter('reverse',function (Data) {
        return function (text) {
            return text.split(" ").reverse().join(" ") + Data.message
        }
    })

    function myFirstCtrl($scope,Data) {
        $scope.data = Data
    }
    function mySecondCtrl($scope,Data) {
        $scope.data = Data
    }


</script>
</body>
</html>